$list-style: none;
$font-size-6: 0.6rem;
$font-size-7: 0.7rem;
$font-size-8: 0.8rem;
$font-size-9: 0.9rem;
$text-uppercase: uppercase;
$text-bold: 700;
$logo-small: 60px;
$text-darkgray: #5b5a5a;
$text-ligthgray: #cdcdcd;
$bg-darkgray: #303030;
$d-flex: flex;
$f-direction-column: column;
$text-azure: #0b7cec;
$azure-bg-color: #0b7cec;
$no-decoration: none;
$bg-c-main: #1c1c1c;
$text-white: #fff;
